/*////////////// Fonts //////////////*/

@font-face {
  font-family: "Baskerville";
  font-weight: 
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.wrapper#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400%;
}

/* Write all remaining styles here */